@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200&display=swap');

body{
    color: white;
}

.regisPass {
    margin: auto;
    width: 25%;
    margin-top: 10%;
}

.addProjetPass {
    position: absolute;
    left: 23%;
    top:5%;
    font-size: 25px;
    color: tomato;
    font-family: 'Inconsolata', monospace;
}

.regPass {
    width: 100%;
    height: 45px;
    margin: auto;
    border: 0;
    border-radius: 3px;
    background-color: rgb(8, 8, 8);
    margin-top: 10%;
    text-align: center;
    color: gray;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 13px;
}

.regPass:hover  {
    transition: all 1s;
    background-color: rgb(13, 13, 13);
}

.regPass h1 {
    font-size: 20px;
}

.regPass p {
    font-size: 15px;
}

.btnSign {
    background-color: rgba(248, 85, 44, 0.781);
    color: white;
    border: 0;
    border-radius: 30px;
    width: 100%;
    height: 45px;
    margin-top: 7%;
    font-family: 'Courier New', Courier, monospace;
    cursor: pointer;
}

.btnSign:hover {
    transition: all 1s;
    color: black;
    background-color: rgba(199, 89, 55, 0.781);
}

.regisPass .iconUsPassToken {
    position: absolute;
    top: 46%;
    left: 39%;  
}

.iconPassPass {
    position: absolute;
    top: 58%;
    left: 39%;
    
}

.iconBoxPass {
    position: absolute;
    top: 34%;
    left: 39%;
}

.textLoginPass{
    font-size: 20px;
    font-weight: 1000;
    margin-left: 40px;
    font-family: 'Inconsolata', monospace;
}



.contentLoginPass{
    margin-left: -4%;
    width: 130%;
}



.bol1{
    width: 2%;
    height: 4%;
    border: 0;
    border-radius: 50px;
    background-color: rgb(248, 248, 72);
    position: absolute;
    left: 5%;
    top: 4%;
}

.bol2{
    width: 1%;
    height: 2%;
    border: 0;
    border-radius: 50px;
    background-color: rgb(107, 248, 72);
    position: absolute;
    left: 80%;
    top: 50%;
}

.bol3{
    width: 2%;
    height: 4%;
    border: 0;
    border-radius: 50px;
    background-color: rgb(213, 72, 248);
    position: absolute;
    left: 60%;
    top: 90%;
}

.bol4{
    width: 1%;
    height: 2%;
    border: 0;
    border-radius: 50px;
    background-color: rgb(250, 96, 58);
    position: absolute;
    left: 7%;
    top: 30%;
}