.logoutbtn {
    border: 0;
    border-radius: 50px;
    width: 37px;
    height: 87%;
    float: right;
    margin-right: 10%;
    background-color: white;
    cursor: pointer;
    box-shadow: 1px 0px 7px 0px rgb(5, 5, 5);
    background: linear-gradient(90deg, rgba(39,37,73,1) 0%, rgba(164,14,2,1) 61%, rgba(171,20,8,1) 93%, rgba(171,20,8,1) 100%, rgba(191,38,26,1) 100%);
}



.iconLogout {
    color: white;
}