@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #000;
    -webkit-font-smoothing: antialiased;
}

p {
    font-size: 18px;
}

tr {
    text-align: center;
    
}

table {
    border: 0.5px solid white;
    border-collapse: separate;
    border-spacing: 30px 9px;
    margin-top: -45px;
    margin-left: -120px;
    border-radius: 5px;
}

table:hover {
    transition: all 1s;
    border: 1px solid rgb(101, 233, 119);
    cursor: pointer;
}


