@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200&display=swap');

body{
    color: white;
}

.logHeadlogHeadForgot {
    width: 80%;
    height: 500px;
    margin: auto;
    margin-top: 5%;
    border: 0;
    border-radius: 2px;
}



.alignIForgot {
    width: 60%;
    margin: auto;
    height: 400px;
       padding-top: 90px;
}


.expLeft {
    background-color: white;
    width: 50%;
    height: 500px;
    border: 0;
    border-radius: 2px;
    float: left;
}

.regisForgot {
    border-radius: 3px;
    margin: auto;
    width: 35%;
    margin-top: 4%;
    height: 500px;
    background-color: rgb(197, 178, 178);
    box-shadow: 2px 1px 6px -2px rgb(187, 184, 184);

}

.term {
    color: black;
    font-size: 10px;
    margin-top: 45%;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.addProjetForgot {
    position: absolute;
    left: 23%;
    top:5%;
    font-size: 25px;
    color: tomato;
    font-family: 'Inconsolata', monospace;
}

.regForgot {
    width: 100%;
    height: 45px;
    margin: auto;
    border: 1px solid rgb(14, 13, 13);
    border-radius: 3px;
    background-color: rgb(197, 178, 178);
    margin-top: 10%;
    text-align: left;
    color: rgb(12, 12, 12);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 13px;
    border-left: white;
    border-right: white;
    border-top: white;
}



.regForgot h1 {
    font-size: 20px;
}

.regForgot p {
    font-size: 15px;
}


.textLoginForgot {
    font-size: 15px;
    font-weight: 1000;
    margin-left: 40px;
    font-family: 'Inconsolata', monospace;
    color: #000;
}


.contentLoginForgot{
    margin-left: -4%;
    width: 130%;
}


.ancForgotPassAuth{
    text-decoration: none;
    list-style: none;
    color: rgb(61, 57, 57);
    font-size: 11px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    float: right;
    margin-top: 10px;

}