@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200&display=swap');


.cont1 {
    width: 100%;
    height: 40px;
    margin-top: 2%;
}

.linkProject {
    text-decoration: none;
    color: white;
    font-size: 13px;
    margin-left: 2%;
    font-family: fantasy;
    font-weight: 700;
}

.addbtn {
    width: 15%;
    cursor: pointer;
    border: 0;
    border-radius: 3px;
    height: 40px;
    background-color: rgb(27, 172, 51);
    margin-left: 2%;
    color: white;
}

.addbtn:hover {
    transition: all 1s;
    background-color: rgb(80, 211, 76);
}

.logoutbtn {
    border: 0;
    border-radius: 50px;
    width: 37px;
    height: 87%;
    float: right;
    margin-right: 10%;
    background-color: white;
    cursor: pointer;
    box-shadow: 1px 0px 7px 0px rgb(5, 5, 5);
    background: linear-gradient(90deg, rgba(39,37,73,1) 0%, rgba(164,14,2,1) 61%, rgba(171,20,8,1) 93%, rgba(171,20,8,1) 100%, rgba(191,38,26,1) 100%);
}

.iconLogout {
    color: white;
}

.welcome {
    margin-left: 35%;
    font-family: 'Inconsolata', monospace;
}

.listar {
    width: 90%;
    margin: auto;
    height: 500px;
    display: flex;
    justify-content: center;
}

.dash {
    background-color:  rgb(9, 9, 9);
    width: 40%;
    height: 300px;
    border-radius: 20px;
    margin-top: 3%;
    margin-left: 4%;
    box-shadow: 0px 1px 5px 3px rgb(5, 5, 5);
}

.dashAlign {
    width: 80%;
    margin: auto;
    height: 130px;
    margin-top: 8%;
}

ul {
    list-style: none;
}

.lab {
    font-weight: 600;
    font-size: 14px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-left: 35%;
}

.liItens {
    font-size: 14px;
    margin-left: 35%;
}

.divUl {
    width: 100%;
}

.projRec {
    margin-left: 10%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 14px;
}

.line {
    width: 86%;
    margin: auto;
    height: 1px;
    margin-left: 9%;
    background-color: rgb(24, 23, 23);
    margin-top: 1%;
}